.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin: 5px auto;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.card-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-price {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  color: #687178;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: right;
  padding-right: 5px;
}

.card-title {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #333333;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.3;
}

.card-description {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.95em;
  color: #555555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-footer {
  background-color: white;
  margin-top: auto;
  padding-top: 15px;
  text-align: center;
}

.card-button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  margin: 1rem 0;
}

.card-button:hover {
  background-color: #0056b3; 
}

.card-button:active {
  transform: translateY(0);
}